@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body {
  background-image: url("assets/cover.jpg");
  background-size: cover;
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
